@media (max-width:480px) {
    body{
        margin-top: 100px;
        
    }
    main{
        max-height: 800px;
    }
    main, .login{
        font-size: 20px;
        max-width: 350px;
        max-height: 616px;
    }
   .login{
    max-height: 500px;
   }
    .login > p{
        font-size: 20px;
        max-width: 50px;
    }
    .button {
        font-size: 20px;
        
    }
    .remember > p {
        font-size: 20px;
    }
}
*{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px ;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    cursor: pointer;
    color: crimson;
}
body{
    background-image: url(login-wallpaper/circuit.jpg);
    font-size: 35px;
    width: 100vw;
    height: 900px;
}
main{
    background-color: white;
    border-radius: 25px;
    width: 1038px;
    margin: 100px auto;
    padding: 50px;
    color: black;
}
.title{
    text-align: center;
}
.login{
    background-color: rgb(128, 128, 128);
    border-radius: 10px;
    width: 1000px;
    padding: 20px;
}
.title_password,
.title_matri{
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.title_password{
    margin-top: 30px;
}
.button{
    text-align: center;
}
.button > input{
    background-color: red;
    font-size: 30px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 250px;

}

.error_matri,
.error_password{
    color: red;
    font: 8px Verdana, Geneva, Tahoma, sans-serif bold;
}
#passed{
    border-radius: 50px;
    background-color: green;
    color: white;
}
#passed:hover{
    text-decoration: none;
}
.remember{
    display: flex;
}
.remember > p{
    display: flex;
    font-size: 30px;
    margin-top: 10px;

}
#remember{
    display: flex;
    font-size: 25px;
    width: 15px;
}
.Redefinir > p{
    text-align: end;
    color: crimson;
}
footer{
    font-size: 15px;
}
footer > a{
    text-decoration: none;
    color: black;
}
.nome:hover{
    color: red;
    cursor: pointer;
    text-decoration: none;
}
