*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

nav{
    display: flex;
    min-width: 1366px;
    background-color: rgb(8, 8, 82);
    text-decoration: none;
    height: 47px;
}
.nav-princip-page{
    text-align: right;
    justify-content: right;
    margin-top: -4px;
    margin-left: auto;
    color: white;
}
.logo-brasil{
    margin: -14px 10px 10px 0px;
    padding-top: 1px;
}
.home{
    background-image: linear-gradient(to left, gray, transparent);
    justify-content: left;
    border-radius: 5px;
    color: white;
    width: 97px;
    height: 27px;
}

header{
    min-width: 1366px;
    height: 150px;
    margin-top: 0px;
}
.container{
    background-image: linear-gradient(to top, gray ,black, red);
    display: flex;
    justify-content: left;
    margin-top: 0px;
    text-align: left;
    padding: 5px;
    color: white;
    text-shadow: 1px 1px 1px rgb(160, 38, 38);
}
.search{
    justify-content: right;
    width: 650px;
    height: 30px;
    text-align: left;
    margin: 10px 0px 10px 490px;

}
.container-main{
    display: flex;
    margin-top: 13px;
    font-size: 15px;
    padding: 1px 0px 0px 1px;
    margin-left: -24px;
}

#content{
    display:flex ;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(imagens/pc-destintivo.jpeg);
    background-repeat: no-repeat;
    background-position: left ;
    height: 100vh;
    min-width: 1389px;
}
.cadastro{
    background-color: rgba(255, 255, 255, 0.372);
    margin: 10px;
    border: 5px solid rgba(0, 0, 0, 0.568);
    margin-left: 30px;
}
.cadastro:hover{
    background-color: rgba(255, 0, 0, 0.34);
}
.cadastro > h1{
    margin-top: 105px;
    margin-left: 21px;
    background-color: rgba(0, 0, 0, 0.489);
    color: white;
    text-align: center;
    border-radius: 5px;
}
.content_1 > img{
    justify-content: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 50px 0px 0px 80px;
}
.cadastro > p{
    margin-top: 105px;
    margin-left: 21px;
    background-color: rgba(25, 25, 98, 0.637);
    color: white;
    text-align: left;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}
.Artigos{
    background-color: rgba(255, 255, 255, 0.372);
    margin: 10px;
    border: 5px solid rgba(0, 0, 0, 0.568);
}
.Artigos > h1{
    text-align: center;
    margin: 100px 0px 0px 42px;
    background-color: rgba(0, 0, 0, 0.489);
    color: white;
    text-align: center;
    border-radius: 5px;
}
.content_2 > img{
    text-align: center;
    margin: 200px 0px 0px 42px;
    height: 140px;
    width: 150px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
}
.Artigos:hover{
    background-color: rgba(0, 42, 255, 0.34);
}
.gun{
    background-color: rgba(255, 255, 255, 0.372);
    margin: 10px;
    border: 5px solid rgba(0, 0, 0, 0.568);
    scroll-snap-type: start;
}
.gun > h1{
    margin-top: 105px;
    margin-left: 21px;
    background-color: rgba(0, 0, 0, 0.489);
    color: white;
    text-align: center;
    border-radius: 5px;
}
.content_3 > img{
    text-align: center;
    height: 150px;
    width: 150px;
    margin-top: 100px;
    margin-left: 55px;
}
.gun:hover{
    background-color: rgba(255, 0, 0, 0.34);
}
.Bo{
    background-color: rgba(255, 255, 255, 0.372);
    margin: 10px;
    border: 5px solid rgba(0, 0, 0, 0.568);
    scroll-snap-type: start;
}
.Bo > h1{
    margin-top: 105px;
    margin-left: 21px;
    background-color: rgba(0, 0, 0, 0.489);
    color: white;
    text-align: center;
    border-radius: px;
}